@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0px;
  background-color: #e5e5e5;
}
.topbar {
  width: 100%;
  heigh: 50px;
  line-height: 50px;
}
.topbar .right a {
  color: #fff;
}
.topbar .right a:hover {
  color: #ffc113;
}
.navbar .navbar-nav .nav-item .nav-link {
  padding: 0.5rem;
  border-radius: 50px;
  color: #666666
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #066CB6;
  background-color: #ffc113
}
#service a {
  text-decoration: none;
  color: #1F1F1F;
}
#service a:hover {
  text-decoration: none;
  color: #066CB6;
}
.navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #066cb6;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 220px;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #FFFFFF;
  transition: 0.5s all
}
.navbar .navbar-nav .nav-item .dropdown-menu li {
  border-bottom: 1px solid #FFFFFF;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #FFC113;
  padding-left: 25px;
}
@media (max-width:667px) {
  .navbar .navbar-nav .nav-item {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item .dropdown-menu {
    margin: 0 auto;
  }
}
main {
  width: 100%;
  min-height: 500px;
}
footer {
  width: 100%;
  min-height: 200px;
}
.nav .nav-item .nav-link {
  color: #FFFFFF;
}
.nav .nav-item .nav-link:hover {
  color: #FFC113;
}
.social-icon li a {
  color: #FFFFFF
}
#banner {
  min-height: 100px;
}
#why {
  width: 100%;
  min-height: 100px;
  background-image: url("../images/why.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#client .hinh {
  width: 100%;
  position: relative;
}
#client .before {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  background-color: #BEBEBE;
}
#client .after {
  position: absolute;
  left: 50%;
  top: 0;
  padding: 10px;
  background-color: #BEBEBE;
}
#customer .content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
}
#customer .content img {
  width: 50px;
  height: auto;
}

#feelin .owl-nav {
  position: absolute;
  left: 0px;
  top: 10%;
  width: 100%;
}
#feelin .owl-nav [class*='owl-'] {
  font-size: 60px; /*background:rgba(255,255,255,.5);border:1px solid #fff;*/ color: rgba(133, 133, 133, 0.60)
}
#feelin .owl-nav .owl-next {
  position: absolute;
  right: 5%;
}
#feelin .owl-nav .owl-prev {
  position: absolute;
  left: 5%;
}
#feelin .owl-nav [class*='owl-']:hover {
  background: none;
  border: none;
  color: rgba(6, 108, 182, 0.75);
  text-decoration: none;
}
#news a{
  text-decoration: none;
  color: #606060;
}
#news a:hover {
  color: #ffc113
}
#bannerheader{
	width: 100%;
	height:auto;
	position: relative;
	justify-content: flex-start;
	align-items: center;
	display: flex;
}
#bannerheader .contentheader{
	position: absolute;
	color: #fff;
	padding-left: 5%;
}
@media (max-width:834px){
	#bannerheader{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#bannerheader .contentheader{
		padding-top: 10px;
	}
	#bannerheader .contentheader button{
		margin-top: 10px;
	}
}
#serviceaside{
	width: 100%;
	height: auto;
	background-color: #F8F9FA;
	margin-top: 2rem;
}
#serviceaside ul li{
	list-style: none;
	padding: 0.75rem 0px;
}
#serviceaside ul li a{
	color: #666666;
	text-decoration: none;
}
#serviceaside ul li a:hover .servicelink{
	color:#FFC113;
}
.servicelink{
	color: #DC3445;
}
#inforelaside{
	width: 100%;
	height: auto;
	background-color: #F8F9FA;
	margin-top: 2rem;
}
#inforelaside ul li{
	list-style: none;
	padding: 0.75rem 0px;
}
#inforelaside ul li a{
	color: #666666;
	text-decoration: none;
}
#inforelaside ul li a:hover .servicelink{
	color:#FFC113;
}
#recpostside{
	width: 100%;
	height: auto;
	background-color: #F8F9FA;
	margin-top: 2rem;
}
.post{
	list-style: none;
	width: 100%;
	height: auto;
	padding: 10px;
}
#post h4 a{
	text-decoration: none;
	color: #242424;
}#post h4 a:hover{
	color: #ffc114;
}
#post button:hover{
	background-color: #ffc113;
	border: 0px;
}
#page ul li{
	list-style: none;
}
#page ul li a:hover, #page ul li a:visited{
	background-color: #066CB6;
}